/*
	glDatePicker default style
	http://code.gautamlad.com/glDatePicker/
	https://github.com/glad/glDatePicker/
*/
/* Calendar container div */
.template_homepage .gldp-default					{background-color:black !important}

/* Calendar container div */
.gldp-default										{float:left;background-color:none !important;	font-size:11px !important;  padding:15px;}

/* Table style */
.gldp-default table									{border-spacing:1px;border-collapse:inherit;}

/* Default style of cell */
.gldp-default td									{margin:0;	padding:6px; width:33px;text-align:center; font:bold 13px Georgia, "Times New Roman", Times, serif;  background:none; font-style:italic;}

/* Default row height */
.gldp-default tr									{line-height:28px; color:#f4b407; font-style:normal;}

/* Previous and Next arrows */
.gldp-default-prevnext								{font-family:"times new roman";	olor:#222;	cursor:pointer;	font-weight:bold; border-bottom:1px solid #7d7d7d; border-top:1px solid #7d7d7d;}

/* Month Year title */
.gldp-default-monyear								{color:#f4b407;	font-size:12px !important;	font-weight:bold; border-bottom:1px solid #7d7d7d; border-top:1px solid #7d7d7d;}

/* Days of the week (Sun, Mon, ...) */
.gldp-default-dow td								{color:#f4b407; font-size:11px;}

/* Selectable days */
.gldp-default-day									{color:#636363;}
.gldp-default-day-hover								{color:#f4b407;	cursor:pointer;}

/* Selected days */
.gldp-default-selected								{background-color:#fee;color:#f4b407}

/* Today */
.gldp-default-today									{color:#fff}
.gldp-default-today-hover							{color:#f4b407;	cursor:pointer;	}

/* Weekends */
.gldp-default-sat, .gldp-default-sun				{color:#fff;}
.gldp-default-sat-hover, .gldp-default-sun-hover	{color:#f4b407;	cursor:pointer;}

/* Non-selectable day.  Includes:previous/next month days and days that fall in the allowOld and endDate conditions */
.gldp-default-noday{	color:#636363;	cursor:wait;}