/**
 *
 *  Dinner Thrill Less file
 *
 * @author Fred Mercy
 * @since 12 apr 2012
 * 
 */

@import "less/mixins.less"; // Stealing the mixins from bootstrap less file

/**
 *  Color Set-Up
 */
 @yellow: #F3B407;
 @nearwhite: #EFEEEA;
 @grey: #8E8E8E;
 @text: #444444;



/**
 *  Fonts
 */
@font-face {
  font-family: 'NeoRetro';
  src: url('fonts/NEORF___-webfont.eot'); src: url('fonts/NEORF___-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/NEORF___-webfont.woff') format('woff'), url('fonts/NEORF___-webfont.ttf') format('truetype'), url('fonts/NEORF___-webfont.svg#NeoRetroFillRegular') format('svg');font-weight: normal;font-style: normal;}
@font-face {
  font-family: 'Matiz';
  src: url('fonts/Matiz-webfont.eot'); src: url('fonts/Matiz-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Matiz-webfont.woff') format('woff'), url('fonts/Matiz-webfont.ttf') format('truetype'), url('fonts/Matiz-webfont.svg#MatizRegular') format('svg');font-weight: normal;font-style: normal;}
@font-face {
  font-family: 'Tiza';
  src: url('fonts/tiza-webfont.eot');src: url('fonts/tiza-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/tiza-webfont.woff') format('woff'),url('fonts/tiza-webfont.ttf') format('truetype'),url('fonts/tiza-webfont.svg#TizaRegular') format('svg');font-weight: normal;font-style: normal;
}
.neoretro {
  font-family: 'NeoRetro', Helvetica, Arial, sans-serif;
}
.matiz {
  font-family: 'Matiz', Helvetica, Arial, sans-serif;
}
.tiza {
  font-family: 'Tiza', Helvetica, Arial, sans-serif;
}
.big-matiz-link(@size: 30px, @color: @yellow) {
	.matiz;
	font-size: @size;
	text-transform: uppercase;
	color: @color;
	font-weight: normal;
}
.basic-text {
  font-family: Georgia, serif;
  font-size: 13px;
  color: @text;
  font-style: italic;
}
.white-georgia(@size: 12px) {
  color: #ffffff;
  font-family: Georgia, serif;
  font-size: @size;
  font-style: italic;
  font-weight: bold;
}
a {
  transition: color 0.2s;
  -moz-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  outline: none;
}
p {
  .basic-text;
  font-style: normal;
}

/**
 *  Structure
 */
 html, body {
  height: 100%;
  background-color: @nearwhite;
 }
.center-div {
  width: 960px;
  margin: 0 auto;
}
#main-container {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  z-index: 1000;
}

.clear-it {
  clear: both;
}

#header-container {
  height: 168px - 56px;
  padding: 56px 0 0;
  position: relative;
  z-index: 400;
  #header {
    height: 62px;
    background-color: #000000;
    #header-content {
      .center-div;
      position: relative;
      #header-logo {
        position: absolute;
        top: -48px;
        left: 8px;
        z-index: 500;
        display: block;
        outline: none;
      }
      #header-logo-backdrop {
        position: absolute;
        top: -58px;
        left: 0px;
        z-index: 490;
        display: block;
      }
    }
  }
  // TODO style to apply to header when scrolling lower in the page
  // &.fixed {
  //   position: fixed;
  //   top: 0;
  //   #header-logo img {
  //     width: 100px;
  //   } 
  //   #header-logo-backdrop {
  //     display: none;
  //   }
  // }
}

#footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#main-pane {
  .center-div;
  padding-bottom: 46px;
  margin: 0 auto 70px;
}

.background-element {
  position: absolute;
  display: none;
  z-index: 500;
  &.home-right {
    top: 420px;
    right: 0;
  }
  &.home-left {
    top: 145px;
    left: 0;
  }
  &.garlic-right {
    top: 0;
    right: 0;
  }
  &.garlic-left {
    top: 0;
    left: 0;
  }
}

#section-title {
  margin: 0 0 35px 295px + 40px;
  h2 {
    color: #000000;
    font-size: 26px;
    font-family: Georgia, serif;
    font-weight: bold;
    margin: 0 0 15px;
  }
  #section-description {
    .basic-text;
    a {
      color: #000000;
      text-decoration: none;
      font-weight: bold;
      &:hover {
        color: @yellow;
      }
    }
  }
}

#section-title, .content-pane {
  font-family: Georgia, serif;
}

//  Sidebar menu
.navigation-menu {
  width: 295px + 40px;  // Total with of sidebar, with margins
  float: left;
  overflow: hidden;
  position: relative;
  .menu {
    width: 295px;
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      margin: 0 0 1px;
      a {
        .big-matiz-link(16px, #ffffff);
        display: block;
        height: 45px - 30px;
        padding: 15px 30px 15px 30px;
        background-color: #000000;
        text-decoration: none;
      }
      &.current_page_item {
        a {
          background-color: @yellow;
        }
      }
    }
  }
  .dots-separator {
    width: 2px;
    position: absolute;
    right: 20px;
    top: 0;
    height: 1101px;
    background: url('img/dots.png') 0 0 repeat-y;
  }
}
.content-pane {
  width: 625px;
  float: left;
}

#footer-container {
	height: 46px;
	background-color: #000000;
	#footer {
		.center-div;
    position: relative;
		padding: 16px 0 10px;
		#dinnerthrill-copyright, #legal {
			font-size: 11px;
			font-family: Georgia, serif;
			color: @grey;
		}
    #footer-menu {
      position: absolute;
      right: 160px;
      top: 16px;
      ul {
        padding: 0;
        margin: 0;
        li {
          margin: 0 15px 0 0;
          list-style-type: none;
          padding: 0;
          display: inline;
        }
      }
      a {
        .white-georgia;
        text-decoration: none;
        &:hover {
          color: @yellow;
        }
      }
    }
    #footer-social {
      position: absolute;
      right: 0;
      top: 12px;
      .white-georgia;
      .social-title, .social-facebook, .social-twitter {
        float: left;
      }
      .social-title {
        margin: 4px 10px 0 0;
      }
      .social-facebook a, .social-twitter a {
        width: 24px;
        height: 24px;
        margin: 0 10px 0 0;
        background-image: url('img/main-sprite.png');
        background-repeat: no-repeat;
        text-indent: -9999px;
        display: block;
        transition: background-position 0.4s;
        -moz-transition: background-position 0.4s;
        -webkit-transition: background-position 0.4s;
        -o-transition: background-position 0.4s;
      }
      .social-facebook a {
        background-position: -29px -74px;
        &:hover {
          background-position: -29px -122px;
        }
      }
      .social-twitter a {
        background-position: -66px -74px;
        &:hover {
          background-position: -66px -122px;
        }
      }
    }
	}
}

// Applies to the field-wrap div for forms
.style-this-form {
  position: relative;
  padding: 5px;
  border-bottom: 4px solid #ffffff;
  margin: 0 0 10px;
  label {
    position: absolute;
    top: 5px;
    left: 5px;
    font-family: Georgia, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    cursor: text;
  }
  input {
    border: none;
    color: #ffffff;
    font-size: 18px;
    background-color: transparent;
    font-family: Georgia, serif;
    font-weight: bold;
    padding: 0 0 5px;
  }
}

// Creates a custom dropdown menu
.dropdown-choices {
  display: none;
  background-color: #EFEEEA;
  border: 2px solid #C4C3C0;
  border-radius: 12px;
  box-shadow: 0 0 10px #000000;
  left: -40px;
  padding: 10px;
  position: absolute;
  top: 32px;
  width: 350px;
  z-index: 800;
  .dropdown-choices-list {
    padding: 0;
    margin: 0;
    height: 84px;
    overflow-y: auto;
    li {
      list-style-type: none;
      margin: 0;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 8px;
      .white-georgia(14px);
      color: @text;
      &:hover {
        background-color: #e3e2de;
      }
    }
  }
}
.dropdown-backdrop {
  background: none repeat scroll 0 0 #000000;
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 790;
}

/**
 *  --------------------------
 *          Homepage
 *  --------------------------
 */
#home-pane {
	#blackboard {
		position: relative;
		z-index: 390;
		width: 978px - 65px - 65px;
		height: 577px - 80px - 40px;
		background: url('img/blackboard.jpg') 0 0 no-repeat;
		color: #ffffff;	
		padding: 80px 65px 40px;
		left: -9px;
		h3 {
			.neoretro;
			font-size: 40px;
			line-height: 36px;
			text-align: center;
			letter-spacing: -0.02em;
			font-weight: normal;
		}
		#about-dinner-thrill-section {
			width: 475px;
			float: left;
			#about-dinner-thrill-slider {
				position: relative;
				.slide {
          width: 475px;
          height: 370px;
          h3 {
            height: 180px;
            // The following won't work in IE but I think it's a nice touch for modern browsers
            display: table-cell;
            vertical-align: middle;
          }
					.get-to-know {
						padding: 30px 0 0;
						text-align: center;
						h4 {
							font-weight: normal;
							line-height: normal;
						}
						.first-part {
							.tiza;
							font-size: 76px;
						}
						.second-part {
							.matiz;
							color: @yellow;
							font-size: 46px;
						}
					}
				}
        .prev, .next {
          height: 45px;
          width: 22px;
          display: block;
          text-indent: -9999px;
          outline: none;
          background-image: url('img/main-sprite.png');
          background-repeat: no-repeat;
          position: absolute;
          top: 250px;
        }
        .prev {
          background-position: -52px -29px;
          left: 40px;
        }
        .next {
          background-position: -30px -29px;
          right: 40px;
        }
			}
			#about-section-links {
				margin: 25px 0 0;
				text-align: center;
				a {
					.matiz;
					font-size: 16px;
					padding: 5px 25px;
					color: #ffffff;
					text-transform: uppercase;
          text-decoration: none;
					&:hover {
            color: @yellow;
					}
				}
			}
		}
		#get-an-invite {
			width: 270px;
			float: left;
			position: relative;
			margin: 0 0 0 90px;
			.is-error-code {
				display: none;
			}
			#get-invite-form-container {
				margin: 25px 0 0;
				#get-invite-form {
					.field-wrap {
            .style-this-form;
						&.has_error {
							border-color: @yellow;
							input {
								color: @yellow;
							}
							label {
								color: @yellow;
							}
						}
						.error-sign {
							height: 30px;
							width: 30px;
							position: absolute;
							left: -35px;
							top: 1px;
							background: url('img/main-sprite.png') -31px 0 no-repeat;
							display: none;
						}
						&.city-field {
							height: 25px;
              .dropdown-selector {
                background: url("img/main-sprite.png") no-repeat scroll -60px 0 transparent;
                height: 27px;
                position: absolute;
                right: 0;
                top: 6px;
                width: 25px;
                cursor: pointer;
                .transition(background-position 0.2s);
                &:hover {
                  background: url("img/main-sprite.png") no-repeat scroll -60px 3px transparent;
                }
              }
						}
					}
					#response {
						margin: 15px 0 0;
						.neoretro;
						font-size: 15px;
						text-transform: uppercase;
						line-height: 20px;
					}
					.submit-wrap {
						text-align: center;
						border: none;
						height: 40px;
						margin: 25px 0 0;
						input, #ajaxsave {
							.matiz;
							font-size: 30px;
							text-transform: uppercase;
							color: @yellow;
							font-weight: normal;
							border: none;
							background-color: transparent;
						}
						#ajaxsave {
							display: none;
						}
					}
				}
			}
		}
		
		#the-blackboard-content {
			position: relative;
			z-index: 410;
      #curly-brace {
        height: 285px;
        width: 30px;
        background: url('img/main-sprite.png') 0 0 no-repeat;
        position: absolute;
        top: 70px;
        left: 500px;
      }
		}
		#the-blackboard-shadow {
			background: url('img/blackboard-shadow.png') 0 0 no-repeat;
			position: absolute;
			width: 105%;
			height: 105%;
			z-index: 400;
			top: 0;
			left: -5px;
		}
	}

  
}

/**
 *  ---------------------------
 *          Contact Us
 *  ---------------------------
 */
#contactus-form-container {
  #response {
    .neoretro;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 20px;
    .is-error-code {
      display: none;
      margin: 0 0 5px;
    }
  }
  #contact-us {
    .form-part1, .form-part2 {
      width: 292px;
      float: left;
    }
    .form-part2 {
      margin-left: 40px;
    }
    .field-wrap {
      .style-this-form;
      border-color: #a19c8f;
      &.has_error {
        border-color: @yellow;
        input {
          color: @yellow;
        }
        label {
          color: @yellow;
        }
      }
      .error-sign {
        height: 30px;
        width: 30px;
        position: absolute;
        left: 292px;
        top: 1px;
        background: url('img/main-sprite.png') -31px 0 no-repeat;
        display: none;
      }
      &.subject-field {
        height: 22px;
        label {
          cursor: pointer;
        }
        .dropdown-selector {
          .transition(background-position 0.2s);
          cursor: pointer;
          background: url("img/main-sprite.png") no-repeat scroll -81px 0 transparent;
          height: 27px;
          position: absolute;
          right: 0;
          top: 6px;
          width: 27px;
          &:hover {
            background: url("img/main-sprite.png") no-repeat scroll -81px 3px transparent;
          }
        }
      }
      &.message-field {
        padding: 0;
      }
      input {
        width: 225px;
      }
      label, input {
        color: #5d5b56;
        font-size: 14px;
      }
      textarea {
        border: none;
        background-color: #eae9e6;
        width: 292px - 10px;
        padding: 5px;
        height: 114px;
        font-size: 14px;
        font-family: Georgia, serif;
        font-weight: bold;
        color: @text;
      }
    }
    #submit_message {
      .big-matiz-link;
      font-size: 30px;
      color: @yellow;
      border: none;
      margin-top: 30px;
      cursor: pointer;
      background-color: transparent;
    }
  }
}

/**
 *  ----------------------------
 *          How It Works
 *  ----------------------------
 */
#howitworks-section-content {
  #benefits-pane {
    position: relative;
    display: none;
    height: 260px;
    .benefits-list {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 100%;
      height: 260px;
      .benefit-item {
        width: 185px;
        position: absolute;
        text-align: center;
        left: 800px;
        // opacity: 0;
        .number-blob {
          width: 66px;
          height: 66px - 23px;
          margin: 0 auto;
          color: #ffffff;
          font-size: 24px;
          padding: 27px 0 0;
          .matiz;
          background: url('img/yellow-blob.png') 0 0 no-repeat;
        }
        h4 {
          font-style: italic;
          font-size: 18px;
          margin: 15px 0 5px;
        }
        .benefit-description {
          color: @text;
          font-style: italic;
          font-size: 14px;
          line-height: 17px;
          padding: 0 5px;
        }
      }
    }
  }
  #benefits-switcher {
    overflow: hidden;
    .benefit-switcher-button {
      transition: background-color 0.4s;
      -moz-transition: background-color 0.4s; /* Firefox 4 */
      -webkit-transition: background-color 0.4s; /* Safari and Chrome */
      -o-transition: background-color 0.4s; /* Opera */
      width: 302px;
      float: left;
      background-color: #a19c8f;
      cursor: pointer;
      .matiz;
      text-transform: uppercase;
      font-size: 16px;
      color: #ffffff;
      text-align: center;
      padding: 10px 0;
      margin: 20px 10px 0 0;
      &.active {
        background-color: #000000;
        padding: 20px 0;
        margin: 0 10px 0 0;
        cursor: default;
        &:hover {
          background-color: #000000;
        }
      }
      &:hover {
        background-color: #35332c;
      }
    }
  }
  .benefit-long-description {
    display: none;
    float: none;
    clear: both;
    padding: 20px;
  }
}

/**
 *  -------------------------
 *          About Us
 *  -------------------------
 */
#about-section-content {
  h3 {
    .neoretro;
    font-size: 23px;
    margin: 0 0 25px;
  }
}
/**
 *  -------------------------
 *        Our Partners
 *  -------------------------
**/
#ourpartners-section-content {
  h3 {
    .big-matiz-link(18px, #000000);
    margin: 0 0 10px;
  }
  p {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 16px;
  }
}
/**
 *  -------------------------
 *             FAQ
 *  -------------------------
**/
#faq-section-content {
  .faq-question {
    border-radius: 12px;
    background-color: #e8e7e3;
    border: 1px solid #deddd9;
    padding: 17px;
    margin: 0 0 20px;
  }
  h3 {
    .big-matiz-link(18px, #000000);
    margin: 0 0 10px;
  }
  p {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 16px;
  }
}