/**
 *
 *  Dinner Thrill Less file
 *
 * @author Fred Mercy & Guillaume Catusse
 * @since 12 apr 2012
 * 
 */
.clearfix {*zoom: 1;}
.clearfix:before,.clearfix:after {display: table; content: "";}
.clearfix:after {clear: both;}
.hide-text { overflow: hidden; text-indent: 100%; white-space: nowrap;}
.input-block-level {display: block; width: 100%;min-height: 28px;
 /* Make inputs at least the height of their button counterpart */

  /* Makes inputs behave like true block-level elements */

  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  -ms-box-sizing: border-box;  box-sizing: border-box;
}

/*------------------------------------------- PROPRIETES ELEMENT --------------------------------------------*/
/* position */
.clear			{clear:both;font-size:1px;line-height:0;}
.right, .right_2{float:right;}
.left, .left_2	{float:left;}
.center			{text-align:center;display:table;margin-left:auto;margin-right:auto;}

/* bordure */
.no_border{border:none;}
.border_white{border-bottom:solid 4px #fff;}

/* centrage txt*/
.txt-c		{text-align:center;}
.txt-l		{text-align:left;}
.txt-r		{text-align:right;}
.txt-j		{text-align:justify;}

/* alignement vertical */
.valign-t	{vertical-align:top;}
.valign-m	{vertical-align:middle;}
.valign-b	{vertical-align:bottom;}

/* position */
.rel		{position:relative}

/* element de hauteur < 10px */
.lf			{line-height:0;font-size:1px;}

.no_pad		{padding:0; margin:0}
.no_marg		{margin:0}
.padT15		{padding-top:15px}
.padT25		{padding-top:25px}
/*------------------------------------------- /PROPRIETES ELEMENT --------------------------------------------*/

/* tableau */
table.tableau			{}
.tableau td				{padding:10px;}
.tableau.white td		{background:#fefefe;}
.tableau h4				{font-size: 16px;font-style: italic;}
.tableau p				{font-style: italic; line-height:15px;}

/* /tableau */

.yellow	,p.big.yellow				{color:#ffba00}

/**
 *  Color Set-Up
 */
/**
 *  Fonts
 */
@font-face {
  font-family: 'NeoRetro';
  src: url('fonts/NEORF___-webfont.eot');
  src: url('fonts/NEORF___-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/NEORF___-webfont.woff') format('woff'), url('fonts/NEORF___-webfont.ttf') format('truetype'), url('fonts/NEORF___-webfont.svg#NeoRetroFillRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Matiz';
  src: url('fonts/Matiz-webfont.eot');
  src: url('fonts/Matiz-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Matiz-webfont.woff') format('woff'), url('fonts/Matiz-webfont.ttf') format('truetype'), url('fonts/Matiz-webfont.svg#MatizRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Tiza';
  src: url('fonts/tiza-webfont.eot');
  src: url('fonts/tiza-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/tiza-webfont.woff') format('woff'), url('fonts/tiza-webfont.ttf') format('truetype'), url('fonts/tiza-webfont.svg#TizaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.neoretro 	{font-family: 'NeoRetro', Helvetica, Arial, sans-serif;}
.matiz 		{font-family: 'Matiz', Helvetica, Arial, sans-serif;}
.tiza		{font-family: 'Tiza', Helvetica, Arial, sans-serif;}
.basic-text {font-family: Georgia, serif;font-size: 13px; color: #444444;font-style: italic;}

a 					{transition: color 0.2s; -moz-transition: color 0.2s; -webkit-transition: color 0.2s; -o-transition: color 0.2s; outline: none;}
a.yellowarrow		{ padding-right:20px; background:url(img/arrow-yellow-right.png) no-repeat right top; text-transform:uppercase;font-family: 'Matiz', Helvetica, Arial, sans-serif; font-size: 16px;font-weight:lighter; font-style:normal; color:#FFBA00}
a.yellowarrow:hover	{ color:#fff; text-decoration:none}



p 			{font-family: Georgia, serif;font-size: 13px;color: #444444;font-style: italic;font-style: normal;}

/**
 *  Structure
 */
html,body 		{height: 100%;background-color: #efeeea;}
.center-div 	{width: 960px;margin: 0 auto;}
#main-container {position: relative; z-index: 1000;}
.clear-it 		{clear: both;}


#header-container 														{height: 112px;  padding:30px 0 0;position: relative; z-index: 400;}
#header-container #header 												{height: 62px; background-color: #000000;}
#header-container #header #header-content 								{width: 960px; margin: 0 auto; position: relative;}
#header-container #header #header-content #header-logo					{position: absolute;top: -48px; left: 8px; z-index: 500; display: block; outline: none;}
#header-container #header #header-content #header-logo-backdrop 		{position: absolute;top: -58px; left: 0px; z-index: 490;  display: block;}
#header-container #header #header-content #header-menu					{text-align:right; top:-35px; right:0px; position:absolute}
#header-container #header #header-content #header-menu li				{display: inline;list-style-type: none; margin: 0 0 0 7px; padding: 0;}
#header-container #header #header-content #header-menu li.invite		{display: none;list-style-type: none; margin: 0 0 0 7px; padding: 0;}
#header-container #header #header-content #header-menu a				{color: #000;font-family: Georgia,serif;font-size: 12px; font-style: italic; font-weight: bold; text-decoration: none}
#header-container #header #header-content #header-menu a:hover			{color: #a19c8f;}
#header-container #header #header-content #header-menu li.invite a		{color: #a19c8f; margin-right:10px;text-transform:uppercase;font-family: 'Matiz', Helvetica, Arial, sans-serif; font-size: 16px; font-style:normal}
#header-container #header #header-content #header-menu li.invite a strong	{color: #000;}
#header-container #header #header-content #header-credit				{text-align:right;font-family: Georgia,serif;font-size: 14px; font-style: italic; font-weight: bold; color:#fff; padding-top:23px; }				
#header-container #header #header-content #header-credit li				{ display:inline; list-style:none; vertical-align:top; padding:0 0 0 10px }				
#header-container #header #header-content #header-credit strong			{text-transform:uppercase;font-family: 'Matiz', Helvetica, Arial, sans-serif;color: #fff; font-size:26px;font-style:normal; }				
#header-container #header #header-content #header-credit a:hover		{ color:#fff; text-decoration:none }				


#header-container #header #header-content #header-signin				{text-align:right;font-family: Georgia,serif;font-size: 21px; font-style: italic;color:#fff; float: right;position: relative; margin: 0 0 0 90px; }		
#header-container #header #header-content #header-signin li				{ display:inline; list-style:none; vertical-align:top; padding:0 0 0 14px }				
#header-container #header #header-content #header-signin .normal a		{background: url("img/arrow-right-big-yellow.png") no-repeat scroll right 2px transparent; color: #F3B407; font-family: 'Matiz',Helvetica,Arial,sans-serif; font-size: 29px; font-weight: normal; padding-right: 33px; text-transform: uppercase; margin-top:8px; font-style:normal; text-decoration:none}
#header-container #header #header-content #header-signin .normal a:hover{color:#fff}
#header-container #header #header-content #header-signin .over			{font-size: 15px; margin-top:15px;}
#header-container #header #header-content #header-signin .normal		{ margin-top:23px;}



#header-signin #get-signin-form-container 																	{margin: 0;}
#header-signin #get-signin-form-container #get-signin-form .field-wrap 										{position: relative;padding: 2px;border-bottom: 4px solid #ffffff; margin: 0;}
#header-signin #get-signin-form-container #get-signin-form .field-wrap label 								{position: absolute;top: 2px;left: 5px;font-family: Georgia, serif;font-weight: bold;font-style: italic;font-size: 15px;cursor: text;}
#header-signin #get-signin-form-container #get-signin-form .field-wrap input 								{border: none;color: #ffffff;font-size: 15px;background-color: transparent;font-family: Georgia, serif;font-weight: bold;padding: 0 0 1px; width:100px}
#header-signin #get-signin-form-container #get-signin-form .field-wrap.has_error 							{border-color: #f3b407;}
#header-signin #get-signin-form-container #get-signin-form .field-wrap.has_error input 						{color: #f3b407;}
#header-signin #get-signin-form-container #get-signin-form .field-wrap.has_error label 						{color: #f3b407;}
#header-signin #get-signin-form-container #get-signin-form .field-wrap .error-sign 							{height: 30px;width: 30px;position: absolute;left: -35px;top: 1px; background: url('img/main-sprite.png') -31px 0 no-repeat;display: none;}
#header-signin #get-signin-form-container #get-signin-form .field-wrap.city-field 							{height: 25px;}
#header-signin #get-signin-form-container #get-signin-form .field-wrap.city-field .dropdown-selector 		{background: url("img/main-sprite.png") no-repeat scroll -60px 0 transparent; height: 27px; position: absolute; right: 0;top: 6px;  width: 25px; cursor: pointer;-webkit-transition: background-position 0.2s;-moz-transition: background-position 0.2s;-ms-transition: background-position 0.2s;-o-transition: background-position 0.2s; transition: background-position 0.2s;}
#header-signin #get-signin-form-container #get-signin-form .field-wrap.city-field .dropdown-selector:hover 	{background: url("img/main-sprite.png") no-repeat scroll -60px 3px transparent;}
#header-signin #get-signin-form-container #get-signin-form #response 										{margin: 15px 0 0;font-family: 'NeoRetro', Helvetica, Arial, sans-serif;font-size: 15px; text-transform: uppercase;line-height: 20px;}
#header-signin #get-signin-form-container #get-signin-form .submit-wrap 									{text-align: center;border: none;margin: 5px 0 0 0;}
#header-signin #get-signin-form-container #get-signin-form .submit-wrap p 									{font-size:18px; color:#fff}
#header-signin #get-signin-form-container #get-signin-form .submit-wrap input,
#header-signin #get-signin-form-container #get-signin-form .submit-wrap #ajaxsave 							{font-family: 'Matiz', Helvetica, Arial, sans-serif;font-size: 25px;text-transform: uppercase;color: #f3b407;font-weight: normal;border: none; background:url(img/arrow-right-big-yellow.png) no-repeat right -1px; padding-right:33px;}
#header-signin #get-signin-form-container #get-signin-form .submit-wrap #ajaxsave 							{display: none;}
#header-signin #get-signin-form-container #get-signin-form td					 							{ padding-left:15px; vertical-align:middle}
#header-signin #get-signin-form-container #get-signin-form td.or				 							{ text-align:center; padding:0 15px 0 30px;}

#special_request_tr textarea {width:230px;}





#footer-container 														{position: absolute;  width: 100%;}

#main-pane 						{width: 960px; margin:0 auto 100px;  position:relative}
.inside-pane					{ float:left}

.background-element 				{position: absolute; display: none; z-index: 500;}
.background-element.home-right		{top: 420px;right: 0;}
.background-element.home-left 		{top: 145px;left: 0;}
.background-element.garlic-right 	{top: 0;right: 0;}
.background-element.garlic-left 	{top: 0;left: 0;}

#section-title 									{float: right; margin: 0 0 35px; width: 625px;}
#section-title h2 								{color: #000000;font-size: 26px;font-family: Georgia, serif;font-weight: bold; margin: 0 0 15px;}
#section-title h2 strong						{color: #f4b407;}
#section-title #section-description 			{font-family: Georgia, serif;font-size: 13px;color: #444444;font-style: italic;}
#section-title #section-description a 			{color: #000000;text-decoration: none;font-weight: bold;}
#section-title #section-description a:hover 	{color: #f3b407;}
#section-title,
.content-pane 									{font-family: Georgia, serif;}

.navigation-menu 								{width: 335px;float: left;overflow: hidden;position: relative;}
.navigation-menu .menu 							{width: 295px;padding: 0;margin: 0;}
.navigation-menu .menu li 						{list-style-type: none;margin: 0 0 1px;}
.navigation-menu .menu li a 					{font-family: 'Matiz', Helvetica, Arial, sans-serif;font-size: 16px;text-transform: uppercase;color: #ffffff;font-weight: normal;display: block; height: 15px; padding: 15px 30px 15px 30px;background-color: #000000; text-decoration: none;}
.navigation-menu .menu li.current_page_item a 	{background-color: #f3b407;}
.navigation-menu .dots-separator 				{width: 2px; position: absolute;right: 20px;top: 0;height: 1101px;background: url('img/dots.png') 0 0 repeat-y;}


.content-pane {
  width: 625px;
  float: left;
}



#footer-container 									{height: 46px; background-color: #000000;}
#footer-container #footer 							{width: 960px;margin: 0 auto; position: relative; padding: 16px 0 10px;}
#footer-container #footer #dinnerthrill-copyright,
#footer-container #footer #legal 					{font-size: 11px; font-family: Georgia, serif; color: #8e8e8e; display:inline-block; position:absolute}


#footer-container #footer #legal 					{ left:135px}
#footer-container #footer #dinnerthrill-copyright	{ left:0}


#footer-container #footer #legal li					{display: inline; list-style-type: none; margin: 0 5px 0 0; padding: 0;}
#footer-container #footer #legal a					{color:#969696;}
#footer-container #footer #legal a:hover			{color:#fff; text-decoration:none}

#footer-container #footer #footer-menu 						{position: absolute; right: 160px;op: 16px;}
#footer-container #footer #footer-menu ul 					{padding: 0; margin: 0;}
#footer-container #footer #footer-menu ul li 				{margin: 0 15px 0 0;list-style-type: none; padding: 0;display: inline;}
#footer-container #footer #footer-menu a					{color: #ffffff;font-family: Georgia, serif;font-size: 12px;font-style: italic;font-weight: bold;text-decoration: none;}
#footer-container #footer #footer-menu a:hover 				{color: #f3b407;}

#footer-container #footer #footer-social 							{position: absolute; right: 0;top: 12px;color: #ffffff;font-family: Georgia, serif;font-size: 12px;font-style: italic;font-weight: bold;}
#footer-container #footer #footer-social .social-title,
#footer-container #footer #footer-social .social-facebook,
#footer-container #footer #footer-social .social-twitter 			{float: left;}
#footer-container #footer #footer-social .social-title 				{margin: 4px 10px 0 0;}
#footer-container #footer #footer-social .social-facebook a,
#footer-container #footer #footer-social .social-twitter a 			{width: 24px; height: 24px;margin: 0 10px 0 0;background-image: url('img/main-sprite.png');background-repeat: no-repeat;text-indent: -9999px;display: block; transition: background-position 0.4s; -moz-transition: background-position 0.4s;-webkit-transition: background-position 0.4s;-o-transition: background-position 0.4s;}
#footer-container #footer #footer-social .social-facebook a 		{background-position: -29px -74px;}
#footer-container #footer #footer-social .social-facebook a:hover 	{background-position: -29px -122px;}
#footer-container #footer #footer-social .social-twitter a 			{background-position: -66px -74px;}
#footer-container #footer #footer-social .social-twitter a:hover 	{background-position: -66px -122px;}

#footer-callaction								{background-color: #FFBA00; border-bottom: 1px solid #FFFFFF;bottom: -54px; height: 75px; position: absolute;width: 100%;}
#footer-callaction div 							{margin: 0 auto;padding: 31px 0 0; position: relative;text-align: center; width: 960px;}
#footer-callaction a 							{ color:#fff; font-size:23px; text-decoration:none;background: url("img/arrow-white-right.png") no-repeat scroll right top transparent; font-family: 'Matiz',Helvetica,Arial,sans-serif; font-style: normal; font-weight: lighter; padding-right: 30px; text-transform: uppercase;}
#footer-callaction a strong						{ color:#000}
#footer-callaction a:hover						{ color:#000}

.style-this-form {
  position: relative;
  padding: 5px;
  border-bottom: 4px solid #ffffff;
  margin: 0 0 10px;
}
.style-this-form label {
  position: absolute;
  top: 5px;
  left: 5px;
  font-family: Georgia, serif;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  cursor: text;
}
.style-this-form input {
  border: none;
  color: #ffffff;
  font-size: 18px;
  background-color: transparent;
  font-family: Georgia, serif;
  font-weight: bold;
  padding: 0 0 5px;
}
.dropdown-choices {
  display: none;
  background-color: #EFEEEA;
  border: 2px solid #C4C3C0;
  border-radius: 12px;
  box-shadow: 0 0 10px #000000;
  left: -40px;
  padding: 10px;
  position: absolute;
  top: 32px;
  width: 350px;
  z-index: 800;
}
.dropdown-choices .dropdown-choices-list {
  padding: 0;
  margin: 0;
  height: 84px;
  overflow-y: auto;
}
.dropdown-choices .dropdown-choices-list li {
  list-style-type: none;
  margin: 0;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 8px;
  color: #ffffff;
  font-family: Georgia, serif;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  color: #444444;
}
.dropdown-choices .dropdown-choices-list li:hover {
  background-color: #e3e2de;
}
.dropdown-backdrop {
  background: none repeat scroll 0 0 #000000;
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 790;
}
/**
 *  --------------------------
 *          Homepage
 *  --------------------------
 */
#home-pane #blackboard {
  position: relative;
  z-index: 390;
  width: 848px;
  height: 457px;
  background: url('img/blackboard.jpg') 0 0 no-repeat;
  color: #ffffff;
  padding: 80px 65px 40px;
  left: -9px;
}
#home-pane #blackboard h3 {
  font-family: 'NeoRetro', Helvetica, Arial, sans-serif;
  font-size: 40px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.02em;
  font-weight: normal;
}
#home-pane #blackboard #about-dinner-thrill-section {
  width: 475px;
  float: left;
}
#home-pane #blackboard #about-dinner-thrill-section #about-dinner-thrill-slider {
  position: relative;
}
#home-pane #blackboard #about-dinner-thrill-section #about-dinner-thrill-slider .slide {
  width: 475px;
  height: 370px;
}
#home-pane #blackboard #about-dinner-thrill-section #about-dinner-thrill-slider .slide h3 {
  height: 180px;
  display: table-cell;
  vertical-align: middle;
}
#home-pane #blackboard #about-dinner-thrill-section #about-dinner-thrill-slider .slide .get-to-know {
  padding: 30px 0 0;
  text-align: center;
}
#home-pane #blackboard #about-dinner-thrill-section #about-dinner-thrill-slider .slide .get-to-know h4 {
  font-weight: normal;
  line-height: normal;
}
#home-pane #blackboard #about-dinner-thrill-section #about-dinner-thrill-slider .slide .get-to-know .first-part {
  font-family: 'Tiza', Helvetica, Arial, sans-serif;
  font-size: 76px;
}
#home-pane #blackboard #about-dinner-thrill-section #about-dinner-thrill-slider .slide .get-to-know .second-part {
  font-family: 'Matiz', Helvetica, Arial, sans-serif;
  color: #f3b407;
  font-size: 46px;
}
#home-pane #blackboard #about-dinner-thrill-section #about-dinner-thrill-slider .prev,
#home-pane #blackboard #about-dinner-thrill-section #about-dinner-thrill-slider .next {
  height: 45px;
  width: 22px;
  display: block;
  text-indent: -9999px;
  outline: none;
  background-image: url('img/main-sprite.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 250px;
}
#home-pane #blackboard #about-dinner-thrill-section #about-dinner-thrill-slider .prev {
  background-position: -52px -29px;
  left: 40px;
}
#home-pane #blackboard #about-dinner-thrill-section #about-dinner-thrill-slider .next {
  background-position: -30px -29px;
  right: 40px;
}
#home-pane #blackboard #about-dinner-thrill-section #about-section-links {
  margin: 25px 0 0;
  text-align: center;
}
#home-pane #blackboard #about-dinner-thrill-section #about-section-links a {
  font-family: 'Matiz', Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 5px 25px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
#home-pane #blackboard #about-dinner-thrill-section #about-section-links a:hover {
  color: #f3b407;
}
#home-pane #blackboard #get-an-invite {
  width: 270px;
  float: left;
  position: relative;
  margin: 0 0 0 90px;
}
#home-pane #blackboard #get-an-invite .is-error-code {
  display: none;
}



#home-pane #blackboard #get-an-invite #get-invite-form-container 													{margin: 25px 0 0;}
#home-pane #blackboard #get-an-invite #get-invite-form-container #get-invite-form .field-wrap 						{position: relative;padding: 5px;border-bottom: 4px solid #ffffff; margin: 0 0 10px;}
#home-pane #blackboard #get-an-invite #get-invite-form-container #get-invite-form .field-wrap label 				{position: absolute;top: 5px;left: 5px;font-family: Georgia, serif;font-weight: bold;font-style: italic;font-size: 18px;cursor: text;}
#home-pane #blackboard #get-an-invite #get-invite-form-container #get-invite-form .field-wrap input 				{border: none;color: #ffffff;font-size: 18px;background-color: transparent;font-family: Georgia, serif;font-weight: bold;padding: 0 0 5px;}
#home-pane #blackboard #get-an-invite #get-invite-form-container #get-invite-form .field-wrap.has_error 			{border-color: #f3b407;}
#home-pane #blackboard #get-an-invite #get-invite-form-container #get-invite-form .field-wrap.has_error input 		{color: #f3b407;}
#home-pane #blackboard #get-an-invite #get-invite-form-container #get-invite-form .field-wrap.has_error label 		{color: #f3b407;}
#home-pane #blackboard #get-an-invite #get-invite-form-container #get-invite-form .field-wrap .error-sign 			{height: 30px;width: 30px;position: absolute;left: -35px;top: 1px; background: url('img/main-sprite.png') -31px 0 no-repeat;display: none;}
#home-pane #blackboard #get-an-invite #get-invite-form-container #get-invite-form .field-wrap.city-field 			{height: 25px;}
#home-pane #blackboard #get-an-invite #get-invite-form-container #get-invite-form .field-wrap.city-field .dropdown-selector 		{ background: url("img/main-sprite.png") no-repeat scroll -60px 0 transparent; height: 27px; position: absolute; right: 0;top: 6px;  width: 25px; cursor: pointer;-webkit-transition: background-position 0.2s;-moz-transition: background-position 0.2s;-ms-transition: background-position 0.2s;-o-transition: background-position 0.2s; transition: background-position 0.2s;}
#home-pane #blackboard #get-an-invite #get-invite-form-container #get-invite-form .field-wrap.city-field .dropdown-selector:hover 	{ background: url("img/main-sprite.png") no-repeat scroll -60px 3px transparent;}
#home-pane #blackboard #get-an-invite #get-invite-form-container #get-invite-form #response 						{margin: 15px 0 0;font-family: 'NeoRetro', Helvetica, Arial, sans-serif;font-size: 15px; text-transform: uppercase;line-height: 20px;}
#home-pane #blackboard #get-an-invite #get-invite-form-container #get-invite-form .submit-wrap 						{text-align: center;border: none; height: 40px;margin: 25px 0 0;}
#home-pane #blackboard #get-an-invite #get-invite-form-container #get-invite-form .submit-wrap p 					{ font-size:18px; color:#fff}
#home-pane #blackboard #get-an-invite #get-invite-form-container #get-invite-form .submit-wrap input,
#home-pane #blackboard #get-an-invite #get-invite-form-container #get-invite-form .submit-wrap #ajaxsave 			{font-family: 'Matiz', Helvetica, Arial, sans-serif;font-size: 30px;text-transform: uppercase;color: #f3b407;font-weight: normal;border: none; background:url(img/arrow-right-big-yellow.png) no-repeat right 2px; padding-right:33px;}
#home-pane #blackboard #get-an-invite #get-invite-form-container #get-invite-form .submit-wrap #ajaxsave 			{display: none;}





#home-pane #blackboard #the-blackboard-content 																{position: relative;z-index: 410;}
#home-pane #blackboard #the-blackboard-content #curly-brace 												{height: 285px;width: 30px;background: url('img/main-sprite.png') 0 0 no-repeat;position: absolute;top: 70px;left: 500px;}
#home-pane #blackboard #the-blackboard-shadow {
  background: url('img/blackboard-shadow.png') 0 0 no-repeat;
  position: absolute;
  width: 105%;
  height: 105%;
  z-index: 400;
  top: 0;
  left: -5px;
}
/**
 *  ---------------------------
 *          Contact Us
 *  ---------------------------
 */
#contactus-form-container #response 												{font-family: 'NeoRetro', Helvetica, Arial, sans-serif; font-size: 15px; text-transform: uppercase;line-height: 20px}
#contactus-form-container #response .is-error-code 									{display: none; margin: 0 0 5px;}
#contactus-form-container #contact-us .form-part1,
#contactus-form-container #contact-us .form-part2 									{width: 292px;float: left;}
#contactus-form-container #contact-us .form-part2 									{margin-left: 40px;}
#contactus-form-container #contact-us .field-wrap 									{position: relative;padding: 5px;border-bottom: 4px solid #ffffff;margin: 0 0 10px;border-color: #a19c8f;}
#contactus-form-container #contact-us .field-wrap label								{position: absolute;top: 5px;left: 5px;font-family: Georgia, serif;font-weight: bold;font-style: italic;font-size: 18px;cursor: text;}
#contactus-form-container #contact-us .field-wrap input 							{border: none;color: #ffffff;font-size: 18px;background-color: transparent;font-family: Georgia, serif;font-weight: bold;padding: 0 0 5px;}
#contactus-form-container #contact-us .field-wrap.has_error 						{border-color: #f3b407;}
#contactus-form-container #contact-us .field-wrap.has_error input 					{color: #f3b407;}
#contactus-form-container #contact-us .field-wrap.has_error label 					{color: #f3b407;}
#contactus-form-container #contact-us .field-wrap .error-sign 						{height: 30px; width: 30px;position: absolute;left: 292px;top: 1px;background: url('img/main-sprite.png') -31px 0 no-repeat; display: none;}
#contactus-form-container #contact-us .field-wrap.subject-field 					{height: 22px;}
#contactus-form-container #contact-us .field-wrap.subject-field label				{cursor: pointer;}
#contactus-form-container #contact-us .field-wrap.subject-field .dropdown-selector 	{-webkit-transition: background-position 0.2s;-moz-transition: background-position 0.2s; -ms-transition: background-position 0.2s; -o-transition: background-position 0.2s;transition: background-position 0.2s;cursor: pointer;background: url("img/main-sprite.png") no-repeat scroll -81px 0 transparent; height: 27px;position: absolute;right: 0;top: 6px;width: 27px;}
#contactus-form-container #contact-us .field-wrap.subject-field .dropdown-selector:hover {background: url("img/main-sprite.png") no-repeat scroll -81px 3px transparent;}
#contactus-form-container #contact-us .field-wrap.message-field 					{padding: 0;}
#contactus-form-container #contact-us .field-wrap input 							{width: 225px;}
#contactus-form-container #contact-us .field-wrap label,
#contactus-form-container #contact-us .field-wrap input 							{color: #5d5b56;font-size: 14px;}
#contactus-form-container #contact-us .field-wrap textarea 							{border: none;background-color: #eae9e6;width: 282px;padding: 5px;height: 114px;font-size: 14px;font-family: Georgia, serif;font-weight: bold;  color: #444444;}
#contactus-form-container #contact-us #submit_message 								{font-family: 'Matiz', Helvetica, Arial, sans-serif;font-size: 30px;text-transform: uppercase;color: #f3b407;font-weight: normal;font-size: 30px;color: #f3b407;border: none;margin-top: 30px;cursor: pointer;background-color: transparent;}
/**
 *  ----------------------------
 *          How It Works
 *  ----------------------------
 */
#howitworks-section-content #benefits-pane 												{position: relative;display: none;height: 260px;}
#howitworks-section-content #benefits-pane .benefits-list 								{position: absolute;top: 0;left: 0;overflow: hidden; width: 100%; height: 260px;}
#howitworks-section-content #benefits-pane .benefits-list .benefit-item 				{width: 185px;position: absolute;text-align: center;left: 800px;}
#howitworks-section-content #benefits-pane .benefits-list .benefit-item .number-blob 	{width: 66px; height: 43px;margin: 0 auto; color: #ffffff;font-size: 24px;padding: 27px 0 0;font-family: 'Matiz', Helvetica, Arial, sans-serif; background: url('img/yellow-blob.png') 0 0 no-repeat;}
#howitworks-section-content #benefits-pane .benefits-list .benefit-item h4 				{font-style: italic;font-size: 18px;margin: 15px 0 5px;}
#howitworks-section-content #benefits-pane .benefits-list .benefit-item .benefit-description {color: #444444;font-style: italic;font-size: 14px;line-height: 17px;padding: 0 5px;}
#howitworks-section-content #benefits-switcher 											{overflow: hidden;}
#howitworks-section-content #benefits-switcher .benefit-switcher-button 				{transition: background-color 0.4s; -moz-transition: background-color 0.4s;
  /* Firefox 4 */
  -webkit-transition: background-color 0.4s;
  /* Safari and Chrome */
  -o-transition: background-color 0.4s;
  /* Opera */
  width: 302px;float: left;background-color: #a19c8f; cursor: pointer;font-family: 'Matiz', Helvetica, Arial, sans-serif;  text-transform: uppercase; font-size: 16px;color: #ffffff;text-align: center;padding: 10px 0;margin: 20px 10px 0 0;}
#howitworks-section-content #benefits-switcher .benefit-switcher-button.active		{background-color: #000000;padding: 20px 0;margin: 0 10px 0 0;cursor: default;}
#howitworks-section-content #benefits-switcher .benefit-switcher-button.active:hover{background-color: #000000;}
#howitworks-section-content #benefits-switcher .benefit-switcher-button:hover 		{background-color: #35332c;}
#howitworks-section-content .benefit-long-description								{display: none;float: none;clear: both;padding: 20px;}
/**
 *  -------------------------
 *          About Us
 *  -------------------------
 */
#about-section-content h3 {font-family: 'NeoRetro', Helvetica, Arial, sans-serif;font-size: 23px; margin: 0 0 25px;}
/**
 *  -------------------------
 *        Our Partners
 *  -------------------------
**/
#ourpartners-section-content h3 {font-family: 'Matiz', Helvetica, Arial, sans-serif;font-size: 18px;text-transform: uppercase; color: #000000;font-weight: normal; margin: 0 0 10px;}
#ourpartners-section-content p 	{margin: 0 0 10px;font-size: 14px;line-height: 16px;}
/**
 *  -------------------------
 *             FAQ
 *  -------------------------
**/
#faq-section-content .faq-question 	{border-radius: 12px; background-color: #e8e7e3; border: 1px solid #deddd9; padding: 17px; margin: 0 0 20px;}
#faq-section-content h3 			{font-family: 'Matiz', Helvetica, Arial, sans-serif; font-size: 18px;text-transform: uppercase; color: #000000;font-weight: normal; margin: 0 0 10px;}
#faq-section-content p 				{margin: 0 0 10px;font-size: 14px; line-height: 16px;
}
/**
 *  -------------------------
 *             My account
 *  -------------------------
**/
#account-section-content .account-booking		{ margin-bottom:12px;}

#account-section-content #account-settings .field-wrap 									{position: relative;padding: 5px;border-bottom: 4px solid #ffffff;margin: 0 0 10px;border-color: #a19c8f;}
#account-section-content #account-settings .settings-section							{background-color: #E8E7E3;border: 1px solid #DEDDD9; border-radius: 12px 12px 12px 12px; margin: 0 0 20px; padding: 17px;}
#account-section-content #account-settings .settings-section td							{ vertical-align:top}
#account-section-content #account-settings .settings-section h3 						{color: #000000;font-family: 'Matiz',Helvetica,Arial,sans-serif;font-size: 18px;font-weight: normal; margin: 0 0 10px;   text-transform: uppercase;}
#account-section-content #account-settings label										{font-family: Georgia, serif;font-weight: bold;font-style: italic;font-size: 14px;cursor: text; padding-top:4px; display:block}
#account-section-content #account-settings .field-wrap input 							{border: none;color: #ffffff;font-size: 18px;background-color: transparent;font-family: Georgia, serif;font-weight: bold;padding: 0 0 5px;}
#account-section-content #account-settings .field-wrap.has_error 						{border-color: #f3b407;}
#account-section-content #account-settings .field-wrap.has_error input 					{color: #f3b407;}
#account-section-content #account-settings .field-wrap.has_error label 					{color: #f3b407;}
#account-section-content #account-settings .field-wrap .error-settings					{height: 30px; width: 30px;position: absolute;left: 292px;top: 1px;background: url('img/main-sprite.png') -31px 0 no-repeat; display: none;}
#account-section-content #account-settings .field-wrap.subject-field 					{height: 22px;}
#account-section-content #account-settings .field-wrap.subject-field label				{cursor: pointer;}
#account-section-content #account-settings .field-wrap.city-field .dropdown-selector 	{-webkit-transition: background-position 0.2s;-moz-transition: background-position 0.2s; -ms-transition: background-position 0.2s; -o-transition: background-position 0.2s;transition: background-position 0.2s;cursor: pointer;background: url("img/main-sprite.png") no-repeat scroll -81px 0 transparent; height: 27px;position: absolute;right: 0;top: 6px;width: 27px;}
#account-section-content #account-settings .field-wrap.city-field .dropdown-selector:hover {background: url("img/main-sprite.png") no-repeat scroll -81px 3px transparent;}
#account-section-content #account-settings .field-wrap.message-field 					{padding: 0;}
#account-section-content #account-settings .field-wrap input 							{width: 225px;}
#account-section-content #account-settings .field-wrap label,
#account-section-content #account-settings .field-wrap input 							{color: #5d5b56;font-size: 14px;}
#account-section-content #account-settings .field-wrap textarea 							{border: none;background-color: #eae9e6;width: 282px;padding: 5px;height: 114px;font-size: 14px;font-family: Georgia, serif;font-weight: bold;  color: #444444;}
#account-section-content #account-settings #submit_message 								{font-family: 'Matiz', Helvetica, Arial, sans-serif;font-size: 30px;text-transform: uppercase;color: #f3b407;font-weight: normal;font-size: 30px;color: #f3b407;border: none;margin-top: 30px;cursor: pointer;background: url("img/arrow-right-big-yellow.png") no-repeat scroll right 2px transparent;padding-right: 33px;}
/**
 *  -------------------------
 *             HOMEPAGE
 *  -------------------------
**/
#highlights									{width:960px; height:400px; position:relative; margin-bottom:12px;}
.template_homepage #highlights .bandeau						{width:960px; height:95px;}
.template_results #highlights .bandeau						{width:665px; height:130px;}
.template_detail #highlights .bandeau						{width:665px; height:90px;}
#highlights .bandeau						{width:960px; height:95px; position:absolute; bottom:0; background: url(img/bg-black70.png);}
#highlights .bandeau h1						{font-family: 'NeoRetro', Helvetica, Arial, sans-serif;font-size: 40px; line-height:20px; color:#fff; text-transform:uppercase; font-weight:lighter; padding:37px 20px 10px 20px;}
#highlights .bandeau h3						{font-family: 'NeoRetro', Helvetica, Arial, sans-serif;font-size: 26px; line-height:20px; color:#fff; text-transform:uppercase; font-weight:lighter; padding:25px 20px 10px 20px;}
#highlights .bandeau ul						{margin:0 0 0 20px;}
#highlights .bandeau li						{display:inline; color:#ffba00; padding-right:10px; font-size:16px; font-style:italic}
#highlights .bandeau li a					{color:#ffba00}
#highlights .bandeau li a:hover				{color:#fff; text-decoration:none}


.template_homepage #mod-reservation														{width:920px;  padding:20px;height:50px; margin-bottom:3px; background:url(img/bg-mod-reservation.jpg) no-repeat}
.template_results #mod-reservation														{width:235px;  padding:35px 30px;height:400px;background:url(img/bg-highlights-reserv.jpg) no-repeat; position:absolute; right:0}
.template_detail #mod-reservation														{width:235px;  padding:35px 30px;background:url(img/bg-reserv.jpg) no-repeat top left #000; position:absolute; right:0}
.template_detail #mod-reservation h2													{ line-height:32px;}
.template_detail #mod-reservation h2 strong												{font-family: 'Matiz',Helvetica,Arial,sans-serif; font-size: 30px;font-style: normal;font-weight: lighter; text-transform: uppercase; color:#ffba00}
.template_detail #mod-reservation form td												{ padding-bottom:10px;}
.template_detail #mod-reservation td.perceL												{ padding-bottom:0}
.template_detail #mod-reservation td.perceR, p.big										{font-family: 'Matiz',Helvetica,Arial,sans-serif; font-size: 16px;font-style: normal;font-weight: lighter; text-transform: uppercase; color:#fff; line-height:16px; padding-bottom:0}
.template_detail #mod-reservation a.next_step											{background: url("img/arrow-right-big-yellow.png") no-repeat scroll right 2px transparent; color: #F3B407;font-family: 'Matiz',Helvetica,Arial,sans-serif; font-size: 30px;font-weight: normal; padding-right: 33px; text-transform: uppercase; text-decoration:none}
.template_detail #mod-reservation a.next_step:hover										{ color:#fff}
.template_detail #mod-reservation ul													{ margin:0}
.template_detail #mod-reservation .step2 ul	li												{ display:inline; font:bold 14px Georgia, "Times New Roman", Times, serif; font-style:italic; padding-right:5px}
.template_detail #mod-reservation .step2 ul.readterms	li								{ display:block; font:normal 11px Georgia, "Times New Roman", Times, serif; font-style:italic; color:#c3c3c3; padding-left:15px;background: url("img/arrow-grey.gif") no-repeat scroll left 3px transparent; }
.template_detail #mod-reservation p.time												{ text-align:center; font-size:11px; color:#fff; font-style:italic}
.template_detail #mod-reservation p.time em												{ color:#F3B407;}
.template_detail #mod-reservation ul.time												{ padding-bottom:8px; border-bottom:1px solid #7d7d7d; margin-bottom:8px; padding-top:8px; border-top:1px solid #7d7d7d; margin-top:8px; }
.template_detail #mod-reservation ul.time li											{ font:bold 12px Georgia, "Times New Roman", Times, serif; color:#fff; padding:0 8px 8px 8px; font-style:italic; list-style:none; display:inline-block}
.template_detail #mod-reservation ul.people li											{ font:bold 12px Georgia, "Times New Roman", Times, serif; color:#fff; padding-bottom:8px; border-bottom:1px solid #7d7d7d; margin-bottom:8px; font-style:italic; list-style:none}
.template_detail #mod-reservation ul.people li a,
.template_detail #mod-reservation ul.time li a											{ color:#fff; text-decoration:none}
.template_detail #mod-reservation ul.people li a:hover,
.template_detail #mod-reservation ul.people li a.selected,
.template_detail #mod-reservation ul.time li a:hover,
.template_detail #mod-reservation ul.time li a.selected									{ color:#eeae00; text-decoration:none}

#mod-reservation table																	{color:#fff; font:bold 21px Georgia, "Times New Roman", Times, serif;}
.template_results #mod-reservation table												{font-size:26px;}
#mod-reservation .field-wrap 															{position: relative;padding: 5px;border-bottom: 4px solid #ffffff;margin: 0 0 10px;border-color: #fff;}
#mod-reservation .field-wrap label,
   /*ajout JK --->*/#mod-reservation .field-wrap #select_date                           {position: absolute;top: 5px;left: 5px;font-family: Georgia, serif;font-weight: bold;font-style: italic;font-size: 18px;cursor: text;}
#mod-reservation .field-wrap input 									{border: none;color: #ffffff;font-size: 18px;background-color: transparent;font-family: Georgia, serif;font-weight: bold;padding: 0 0 5px;}
#mod-reservation .field-wrap.people-field,
#mod-reservation .field-wrap.meals-field,
#mod-reservation .field-wrap.date-field 							{height: 22px;}
.template_results #mod-reservation .field-wrap.people-field,
.template_results #mod-reservation .field-wrap.meals-field,
.template_results #mod-reservation .field-wrap.date-field 			{height: 22px; margin-top:17px;}
#mod-reservation .field-wrap.people-field label,
#mod-reservation .field-wrap.meals-field label,
#mod-reservation .field-wrap.date-field label						{cursor: pointer;}
#mod-reservation .field-wrap.people-field .dropdown-selector,
#mod-reservation .field-wrap.meals-field .dropdown-selector,
#mod-reservation .field-wrap.date-field .dropdown-selector 			{-webkit-transition: background-position 0.2s;-moz-transition: background-position 0.2s; -ms-transition: background-position 0.2s; -o-transition: background-position 0.2s;transition: background-position 0.2s;cursor: pointer;background: url("img/main-sprite.png") no-repeat scroll -63px 0 transparent; height: 27px;position: absolute;right: 0;top: 6px;width: 21px;}
#mod-reservation .field-wrap.people-field .dropdown-selector:hover,
#mod-reservation .field-wrap.date-field .dropdown-selector:hover,
#mod-reservation .field-wrap.meals-field .dropdown-selector:hover 	{background: url("img/main-sprite.png") no-repeat scroll -63px 3px transparent;}
#mod-reservation .field-wrap label,
#mod-reservation .field-wrap input 									{color: #fff;font-size: 16px;}



#results										{margin:10px 0 50px 0; float:left; width:100%}
#results .title									{padding:14px 0; margin-bottom:35px; background:url(img/bg-results-title.gif) repeat-x bottom left; width:100%}
#results .title h4								{font:bold 26px Georgia, "Times New Roman", Times, serif; color:#000}
#results .title a 								{color: #FFBA00;}
#results .title a:hover							{color: #fff; text-decoration:none;}
#results .title .right							{margin-top:9px;}
.template_results #results .title .right		{font-family: 'Matiz', Helvetica, Arial, sans-serif; font-size: 23px;text-transform: uppercase; color: #ffba00;font-weight: normal; }
.template_results #results .title .right strong	{color: #000; }

#results .item									{float:left;padding:10px; width:274px; background:#fefefe; margin:0 39px 39px 0}
#results .item.last								{margin:0 0 41px 0}
#results .item .photo							{margin:0 0 10px 0}
#results .item .left li							{font-style:italic;}
#results .item .right li						{font-weight:bold;}
.template_results #results .item .right			{width: 130px;}
.template_results #results .item p				{ font-style:italic}
#results .item ul								{margin:0 0 10px 0; list-style:none;}
#results .item ul strong						{font-size:16px}
#results .item .infos							{padding-bottom:2px; margin-bottom:12px; border-bottom:1px solid #dddbd8; font-size:12px}
#results .item .infos a							{ color:#000; text-decoration:none}
#results .item .infos a:hover					{ color:#FFBA00}
#results .item a:hover							{ color:#A19C8F; text-decoration:none}

#filters .btn-wrap	 												{background:#000;float: left;height: 18px;margin: 0 0 10px;padding: 14px;width: 180px;}
#filters .field-wrap 												{position: relative;padding: 5px;margin: 0 0 10px;border-color: #fff; width:177px; background:#5d5b56; height:36px; float:left; margin-right:1px;}
#filters .field-wrap label											{position: absolute;top: 10px;left:10px;font-family: Georgia, serif;font-weight: bold;font-style: italic;font-size: 14px;cursor: text; color:#fff; padding:5px 5px 5px 20px}
#filters .field-wrap input 											{border: none;color: #ffffff;font-size: 18px;background-color: transparent;font-family: Georgia, serif;font-weight: bold;padding: 0 0 5px;}

#filters .field-wrap.neighborhood-field label						{cursor: pointer;background:#5d5b56 url(img/ico-filters-neigh.gif) no-repeat left 2px; padding-left:20px; }
#filters .field-wrap.cuisine-field label							{cursor: pointer;background:#5d5b56 url(img/ico-filters-cuisine.gif) no-repeat left 2px; padding-left:35px; }
#filters .field-wrap.scene-field label								{cursor: pointer;background:#5d5b56 url(img/ico-filters-scene.gif) no-repeat left 2px; padding-left:30px; }
#filters .field-wrap.cost-field label								{cursor: pointer;background:#5d5b56 url(img/ico-filters-cost.gif) no-repeat left 2px; padding-left:30px; }
#filters .field-wrap.neighborhood-field .dropdown-selector,
#filters .field-wrap.cuisine-field .dropdown-selector,
#filters .field-wrap.scene-field .dropdown-selector,
#filters .field-wrap.cost-field .dropdown-selector 					{-webkit-transition: background-position 0.2s;-moz-transition: background-position 0.2s; -ms-transition: background-position 0.2s; -o-transition: background-position 0.2s;transition: background-position 0.2s;cursor: pointer;background: url("img/main-sprite.png") no-repeat scroll -63px 0 transparent; height: 27px;position: absolute;right: 0;top: 14px;width: 22px;margin-right: 3px;}
#filters .field-wrap.neighborhood-field .dropdown-selector:hover,
#filters .field-wrap.cuisine-field .dropdown-selector:hover,
#filters .field-wrap.scene-field .dropdown-selector:hover,
#filters .field-wrap.cost-field .dropdown-selector:hover 			{background: url("img/main-sprite.png") no-repeat scroll -81px 3px transparent;}




.template_detail #sidebar							{float:left; width:295px; padding-right:19px; margin-right:19px; margin-top:25px; background: url("img/dots.png") repeat-y scroll right 0 transparent;}
.template_detail #sidebar .map						{width:275px; border:10px solid #fff}
.template_detail #sidebar h3						{font-size:16px; font-style:italic; margin-bottom:3px; border-top:4px #000 solid; padding-top:6px;}
.template_detail #sidebar h4						{font-style:italic; margin-bottom:3px; }
.template_detail #sidebar .fiche p					{font-style:italic; font-weight:bold; font-size:11px; }
.template_detail #sidebar ul						{background: url("img/bg-results-title.gif") repeat-x scroll left top transparent; list-style:none; margin:12px 0 0 0; padding:12px 0;}
.template_detail #sidebar li						{display:inline; padding-right:12px; margin-right:25px;}
.template_detail #sidebar ul.details li 			{margin-right:5px;}
.template_detail #sidebar ul.details li a			{font:normal 13px 'Matiz',Helvetica,Arial,sans-serif; background: url("img/arrow-black-right.png") no-repeat 100% 0%;  padding-right:18px}
.template_detail #sidebar ul.details li a:hover		{ color:#000; text-decoration:none; background: url("img/arrow-black-right.png") no-repeat 95% 0%;-webkit-transition: background-position 0.2s;-moz-transition: background-position 0.2s; -ms-transition: background-position 0.2s; -o-transition: background-position 0.2s;transition: background-position 0.2s; }
.template_detail #sidebar .fiche div					{background: url("img/bg-results-title.gif") repeat-x scroll left bottom transparent; margin-bottom:10px; padding-bottom:4px; }
.template_detail #sidebar .fiche .neigh	div				{ background:url(img/sidebar-ico-neigh.gif) no-repeat 8px 0;padding:0 10px 0 55px;  }
.template_detail #sidebar .fiche .cuisine div			{ background:url(img/sidebar-ico-cuisine.gif) no-repeat 8px 0;padding:0 10px 0 55px; }
.template_detail #sidebar .fiche .cost div				{ background:url(img/sidebar-ico-cost.gif) no-repeat 8px 0;padding:0 10px 0 55px; }
.template_detail #sidebar .fiche .scene	div				{ background:url(img/sidebar-ico-scene.gif) no-repeat 8px 0;padding:0 10px 0 55px; }
.template_detail #sidebar .fiche .cost					{ background:none; }
.template_detail #detail-content									{float:right; width:295px; font-style:italic; padding-bottom:50px; margin-right:330px;margin-top:25px;}
.template_detail #detail-content h2									{ font:bold 26px Georgia, "Times New Roman", Times, serif; border-top:4px #000 solid; padding-top:10px; margin-bottom:15px;}
.template_detail #detail-content h3									{ font-size:16px; font-style:italic; margin-bottom:3px}
.template_detail #detail-content p									{ font-size:13px; font-style:italic; padding-bottom:10px;}

.error {color:#f33;font-size:16px;}
